@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.form_data_client {
  /* background-color: antiquewhite; */
  /* margin-left: 200px;
  margin-right: 200px; */
  margin: 8px;
  /* padding: 24px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
  background-color: seagreen;
}

p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffff;
  margin: 41px;
}
h2 {
  /* background-color: saddlebrown; */
  /* padding: 14px;
  margin: 8px; */
  font-family: 'Bangers', 'Trebuchet MS', sans-serif;
  font-size: 3rem;
  padding: 4px;
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.data_client {
  margin-bottom: 18px;
  padding: 0 24px 24px 24px 24px;
  /* background-color: slategray; */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
}

.butom {
  margin-top: 14px;
  padding: 8px;
  border-radius: 4px;
  /* background-color: darkslategray;  */
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

input {
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  padding: 6px;
}
