@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.notfound_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  /* background-color: #f8d7da;
    color: #721c24; */
  font-family: Arial, sans-serif;
}

.notfound_section h1 {
  font-family: 'Bangers', 'Trebuchet MS', sans-serif;
  font-size: 3rem;
  margin-bottom: 20px;
}
