#root {
  width: 100%;
}

.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.products__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.counter_container {
  display: flex;
  justify-content: center;
}
