:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* :root { */
  --primary-color: #f6f5ff;
  --secondary-color: #f6f5ff;
  --accent-color: #ff6f61;
  --primary-letter-color: #000000;
  --second-letter-color: #ff6f61;
  --font-family: "Arial", sans-serif;
  --primary-color-partner: #706c6c;
  /* } */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  place-items: center;
  /* min-width: 320px;
  min-height: 100vh; */
  font-family: Arial, sans-serif;
  /* background-color: var(--accent-color); */
  color: var(--second-letter-color);
  /* line-height: 1.6; */
  margin: 0;
  padding: 0;
}
